<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Warp+</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="css/nunito-font.css">
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body class="form-v9">
	<div class="page-content">
		<div class="form-v9-content" style="background-image: url('images/form-v9.jpg')">
			<form class="form-detail" action="/" method="post">
				<h2>Điền ID vào đây</h2>
                            <div class="form-row-total">
                                <div class="form-row">
                                    <input type="text" name="id" id="id" class="input-text" placeholder="ID của bạn" required>
                                </div>
                            </div>
                            <div class="form-row-last">
                                <input type="submit" class="start" value="Bắt Đầu">
                            </div>
                            <h3> Lấy Client ID của bạn bằng cách vào Settings > More Settings > Diagnostics > ID </h3> 
			</form>
		</div>
	</div>
</body>
</html>