<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Warp+</title>
	<link rel="shortcut icon" type="image/x-icon" href="../favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/nunito-font.css">
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body class="form-v9">
	<div class="page-content">
		<div class="form-v9-content" style="background-image: url('images/form-v9.jpg')">
			<form class="form-detail" action="/" method="post">
				<h3 style="font-size: 20px; color: chartreuse;">Nếu hữu ích cho mình 1 like avatar + 1 like bài viết nhé hihi !</h3>
				<h2>Bị admin xóa mất bài bùn quá ! Đợi em fix bug rồi comeback </h2>
                            <!-- <div class="form-row-total">
                                <div class="form-row">
                                    <input type="text" name="id" id="id" class="input-text" placeholder="ID của bạn" required>
                                </div>
                            </div> -->
                            <!-- <div class="form-row-last">
                                <input type="submit" class="start" value="Bắt Đầu">
							</div> -->
                            <!-- <h3> Lấy Client ID của bạn bằng cách vào Settings > More Settings > Diagnostics > ID </h3> 
                            <h3> Đã nhập ID, cần xóa ? <a style="color: burlywood;" href="/delete"> Click here</a> </h3>  -->
						</form>
						<h2 style="margin-left: 100px ;"> Link fb : <a style="color: burlywood;" href="https://www.facebook.com/photo.php?fbid=2362752937326644&set=a.1380914152177199&type=3&theater" target="_blank"> Trần Ngọc</a></h2>
						<h2 style="margin-left: 100px ;"> Link post : <a style="color: burlywood;" href="https://www.facebook.com/photo.php?fbid=2362752937326644&set=a.1380914152177199&type=3&theater" target="_blank"> J2Team</a></h2>
		</div>
	</div>
</body>
</html>